* {
    border: none;
    min-height: 0;
    color: #eaeaea;
}

.module {
    background: rgba(29, 31, 33, 0.8);
    border-radius: 0 0 5px 5px;
    padding: 0px 5px;
    margin: 0px 3px;
}

window#waybar {
    background: none;
}

window#waybar.empty #window {
    background: none;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    border-bottom: 1px solid transparent;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: rgb(73, 78, 89);
}

#workspaces button.visible {
    background: rgb(73, 78, 89);
    border-bottom: 1px solid rgb(133, 138, 149);
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 1px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 1px solid white;
}

tooltip {
    background: rgba(29, 31, 33, 0.8);
}

tooltip * {
    font-family: "NotoSansM Nerd Font";
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#pulseaudio.muted {
    color: #999999;
}

#idle_inhibitor {
    padding-right: 8px;
}

#idle_inhibitor.activated {
    background: #0f789b;
}
