* {
    border: none;
    border-radius: 0;
    font-family: "Noto Sans Mono";
    font-size: 9pt;
    min-height: 0;
}

window#waybar {
    background: rgba(29, 31, 33, 0.9);
    color: white;
}

#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: white;
    border-bottom: 1px solid transparent;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: rgb(73, 78, 89);
}

#workspaces button.visible {
    background: rgb(73, 78, 89);
    border-bottom: 1px solid rgb(133, 138, 149);
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 1px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 1px solid white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #custom-spotify, #tray, #mode {
    padding: 0px 4px;
    margin: 0px 2px;
}

#clock {
    background-color: #64727D;
}

#battery {
    color: white;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.percent100 { background: #0ec971; }
#battery.percent95 { background: linear-gradient(to top, #1ec76e 95%, rgba(255,255,255,0.2) 95%); }
#battery.percent90 { background: linear-gradient(to top, #2ec56b 90%, rgba(255,255,255,0.2) 90%); }
#battery.percent85 { background: linear-gradient(to top, #3ec368 85%, rgba(255,255,255,0.2) 85%); }
#battery.percent80 { background: linear-gradient(to top, #4ec165 80%, rgba(255,255,255,0.2) 80%); }
#battery.percent75 { background: linear-gradient(to top, #5ec062 75%, rgba(255,255,255,0.2) 75%); }
#battery.percent70 { background: linear-gradient(to top, #6ebe5f 70%, rgba(255,255,255,0.2) 70%); }
#battery.percent65 { background: linear-gradient(to top, #7ebd5c 65%, rgba(255,255,255,0.2) 65%); }
#battery.percent60 { background: linear-gradient(to top, #8ebb59 60%, rgba(255,255,255,0.2) 60%); }
#battery.percent55 { background: linear-gradient(to top, #aeb853 55%, rgba(255,255,255,0.2) 55%); }
#battery.percent50 { background: linear-gradient(to top, #c2b650 50%, rgba(255,255,255,0.2) 50%); }
#battery.percent45 { background: linear-gradient(to top, #d5b44c 45%, rgba(255,255,255,0.2) 45%); }
#battery.percent40 { background: linear-gradient(to top, #e9b248 40%, rgba(255,255,255,0.2) 40%); }
#battery.percent35 { background: linear-gradient(to top, #fcaf45 35%, rgba(255,255,255,0.2) 35%); }
#battery.percent30 { background: linear-gradient(to top, #fc973f 30%, rgba(255,255,255,0.2) 30%); }
#battery.percent25 { background: linear-gradient(to top, #fc7f38 25%, rgba(255,255,255,0.2) 25%); }
#battery.percent20 { background: linear-gradient(to top, #fc6731 20%, rgba(255,255,255,0.2) 20%); }
#battery.percent15 { background: linear-gradient(to top, #fc4e2a 15%, rgba(255,255,255,0.2) 15%); }
#battery.percent10 { background: linear-gradient(to top, #fc3524 10%, rgba(255,255,255,0.2) 10%); }
#battery.percent5 { background: linear-gradient(to top, #fd1d1d 5%, rgba(255,255,255,0.2) 5%); }
#battery.percent0 {
    background: rgba(255,255,255,0.2);
}

#cpu {
    color: #ffffff;
}

#cpu.percent100 { background-color: #fd1d1d; }
#cpu.percent95 { background-color: #fc4227; }
#cpu.percent90 { background-color: #fc6631; }
#cpu.percent85 { background-color: #fc8b3b; }
#cpu.percent80 { background-color: #fcaf45; }
#cpu.percent75 { background-color: #f1ac50; }
#cpu.percent70 { background-color: #e5a85a; }
#cpu.percent65 { background-color: #daa565; }
#cpu.percent60 { background-color: #cea16f; }
#cpu.percent55 { background-color: #c29e7a; }
#cpu.percent50 { background-color: #b69a85; }
#cpu.percent45 { background-color: #aa9790; }
#cpu.percent40 { background-color: #9e939b; }
#cpu.percent35 { background-color: #9290a6; }
#cpu.percent30 { background-color: #868cb1; }
#cpu.percent25 { background-color: #7a89bc; }
#cpu.percent20 { background-color: #6e86c7; }
#cpu.percent15 { background-color: #6283d2; }
#cpu.percent10 { background-color: #5680dd; }
#cpu.percent5 { background-color: #4a7de8; }
#cpu.percent1 { background-color: #417af0; }
#cpu.percent0 { background-color: #0ec971; }

#memory {
    color: white;
}

#memory.percent100 { background: #9b59b6; }
#memory.percent95 { background: linear-gradient(to top, #9b59b6 95%, rgba(255,255,255,0.2) 95%); }
#memory.percent90 { background: linear-gradient(to top, #9b59b6 90%, rgba(255,255,255,0.2) 90%); }
#memory.percent85 { background: linear-gradient(to top, #9b59b6 85%, rgba(255,255,255,0.2) 85%); }
#memory.percent80 { background: linear-gradient(to top, #9b59b6 80%, rgba(255,255,255,0.2) 80%); }
#memory.percent75 { background: linear-gradient(to top, #9b59b6 75%, rgba(255,255,255,0.2) 75%); }
#memory.percent70 { background: linear-gradient(to top, #9b59b6 70%, rgba(255,255,255,0.2) 70%); }
#memory.percent65 { background: linear-gradient(to top, #9b59b6 65%, rgba(255,255,255,0.2) 65%); }
#memory.percent60 { background: linear-gradient(to top, #9b59b6 60%, rgba(255,255,255,0.2) 60%); }
#memory.percent55 { background: linear-gradient(to top, #9b59b6 55%, rgba(255,255,255,0.2) 55%); }
#memory.percent50 { background: linear-gradient(to top, #9b59b6 50%, rgba(255,255,255,0.2) 50%); }
#memory.percent45 { background: linear-gradient(to top, #9b59b6 45%, rgba(255,255,255,0.2) 45%); }
#memory.percent40 { background: linear-gradient(to top, #9b59b6 40%, rgba(255,255,255,0.2) 40%); }
#memory.percent35 { background: linear-gradient(to top, #9b59b6 35%, rgba(255,255,255,0.2) 35%); }
#memory.percent30 { background: linear-gradient(to top, #9b59b6 30%, rgba(255,255,255,0.2) 30%); }
#memory.percent25 { background: linear-gradient(to top, #9b59b6 25%, rgba(255,255,255,0.2) 25%); }
#memory.percent20 { background: linear-gradient(to top, #9b59b6 20%, rgba(255,255,255,0.2) 20%); }
#memory.percent15 { background: linear-gradient(to top, #9b59b6 15%, rgba(255,255,255,0.2) 15%); }
#memory.percent10 { background: linear-gradient(to top, #9b59b6 10%, rgba(255,255,255,0.2) 10%); }
#memory.percent5 { background: linear-gradient(to top, #9b59b6 5%, rgba(255,255,255,0.2) 5%); }
#memory.percent0 { background: rgba(255,255,255,0.2); }

#network {
    background: #2980b9;
}

#network.disconnected {
    background: #f53c3c;
}

#pulseaudio {
    color: white;
}

#pulseaudio.percent100 { background: #f1c40f; }
#pulseaudio.percent95 { background: linear-gradient(to top, #f1c40f 95%, rgba(255,255,255,0.2) 95%); }
#pulseaudio.percent90 { background: linear-gradient(to top, #f1c40f 90%, rgba(255,255,255,0.2) 90%); }
#pulseaudio.percent85 { background: linear-gradient(to top, #f1c40f 85%, rgba(255,255,255,0.2) 85%); }
#pulseaudio.percent80 { background: linear-gradient(to top, #f1c40f 80%, rgba(255,255,255,0.2) 80%); }
#pulseaudio.percent75 { background: linear-gradient(to top, #f1c40f 75%, rgba(255,255,255,0.2) 75%); }
#pulseaudio.percent70 { background: linear-gradient(to top, #f1c40f 70%, rgba(255,255,255,0.2) 70%); }
#pulseaudio.percent65 { background: linear-gradient(to top, #f1c40f 65%, rgba(255,255,255,0.2) 65%); }
#pulseaudio.percent60 { background: linear-gradient(to top, #f1c40f 60%, rgba(255,255,255,0.2) 60%); }
#pulseaudio.percent55 { background: linear-gradient(to top, #f1c40f 55%, rgba(255,255,255,0.2) 55%); }
#pulseaudio.percent50 { background: linear-gradient(to top, #f1c40f 50%, rgba(255,255,255,0.2) 50%); }
#pulseaudio.percent45 { background: linear-gradient(to top, #f1c40f 45%, rgba(255,255,255,0.2) 45%); }
#pulseaudio.percent40 { background: linear-gradient(to top, #f1c40f 40%, rgba(255,255,255,0.2) 40%); }
#pulseaudio.percent35 { background: linear-gradient(to top, #f1c40f 35%, rgba(255,255,255,0.2) 35%); }
#pulseaudio.percent30 { background: linear-gradient(to top, #f1c40f 30%, rgba(255,255,255,0.2) 30%); }
#pulseaudio.percent25 { background: linear-gradient(to top, #f1c40f 25%, rgba(255,255,255,0.2) 25%); }
#pulseaudio.percent20 { background: linear-gradient(to top, #f1c40f 20%, rgba(255,255,255,0.2) 20%); }
#pulseaudio.percent15 { background: linear-gradient(to top, #f1c40f 15%, rgba(255,255,255,0.2) 15%); }
#pulseaudio.percent10 { background: linear-gradient(to top, #f1c40f 10%, rgba(255,255,255,0.2) 10%); }
#pulseaudio.percent5 { background: linear-gradient(to top, #f1c40f 5%, rgba(255,255,255,0.2) 5%); }
#pulseaudio.percent0 { background: rgba(255,255,255,0.2); }

#pulseaudio.muted {
    background: rgba(255,255,255,0.2);
    color: #999999;
}
